html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100%}
@media (max-width: 460px) {
    html {
    font-size: 14px;
}
}body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans",  sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    height: 100%}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    padding: 0 1rem;
}
@media (max-width: 400px) {
    .container {
    padding: 0 0.6rem;
}
}h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    font-family: "Roboto Slab",  serif;
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
    text-align: center;
    color:#FFFFFF;
}
@media (max-width: 600px) {
    h1 {
    font-size: 28px;
}
}h2 {
    font-family: "Roboto Slab",  serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #282828;
}
.btn {
    margin:  45px 0;
    width: 100%;
    text-align: center;
    background: #b5b5b5;
    height: 117px;
    max-width: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 30px;
    border: none;
    font-weight: bold;
    padding: 0 20px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
}
.btn span {
    margin-right: 20px;
}
.btn:hover {
    opacity: 0.8;
}
.btn.active {
    background: #ffa800;
    border:7px solid #c93d41;
}
.img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.img.center {
    margin: 0.8rem auto;
}
.img p {
    color: #707070;
    font-size: 1.1rem;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 1rem;
    max-width: 390px;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    -webkit-animation: show 0.4s ease;
    animation: show 0.4s ease;
}
.overlay.active {
    display: block;
}
@-webkit-keyframes show {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}@keyframes show {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}ul {
    margin: 0;
    padding-left: 1rem;
}
ul li {
    font-style: italic;
}
.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 347px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form input {
    width: 100%;
    height: 62px;
    background: #ffffff;
    border: none;
    outline: none;
    opacity: 0.9;
    border-radius: 33.8994px;
    margin-bottom: 15px;
    font-size: 17px;
    padding: 0 36px;
}
.form input::-webkit-input-placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
.form input:-ms-input-placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
.form input::-ms-input-placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
.form input::placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
main {
    width: 100%;
    position: relative;
    background-image: url(../../img/bac.png);
    background-size: cover;
    min-height: 100vh;
    background-position: top right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 34px;
}
@media (max-width: 480px) {
    main {
    background-image: url(../../img/bac__main.png);
}
}@media (max-width: 500px) {
    main {
    min-height: 600px;
}
}@media (max-width: 380px) {
    main {
    padding: 9px 25px;
}
}.content {
    padding: 0 0.3rem;
    max-width: 1443px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
}
@media (max-width: 460px) {
    .content {
    padding: 3rem 1rem;
}
}.item {
    background: #010304;
    border-radius: 20px;
    max-width: 1012px;
    width: 100%;
    min-height: 457px;
    padding: 49px 0 120px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.item--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.item--main .btn {
    font-size: 63px;
    line-height: 37px;
    z-index: 10;
}
.item--main h1 {
    font-size: 33px;
    
}
.item--main p {
    margin-top: 0;
    font-size: 20px;
    max-width: 750px;
    width: 100%;
    color: #282828;
}
@media (max-width: 480px) {
    .item--main {
   
}
.item--main h2 {
    font-size: 23px;
}
.item--main p {
    margin-bottom: 67px;
}
.item--main .btn {
    font-size: 14px;
}
}@media (max-width: 380px) {
    .item--main {
    
}
.item--main h1 {
    font-size: 30px;
}
.item--main p {
    font-size: 17px;
}
.item--main .btn {
    font-size: 12px;
}
}.item__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 291px;
    width: 100%}
.item--button button {
    width: 124px;
    height: 124px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #ffffff;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 7.66585px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 7.66585px rgba(0, 0, 0, 0.25);
    border-radius: 15.3317px;
}
.item--button button img {
    max-width: 28px;
    width: 100%}
.item--button button b {
    font-size: 16px;
    padding-top: 14px;
    font-weight: 500;
}
.item--button button.active {
    border: 0.766585px solid #ef6d1b;
}
@media (max-width: 480px) {
    .item--button {
    padding: 34px 39px;
    padding-bottom: 85px;
}
.item--button button {
    width: 110px;
    height: 110px;
}
.item--button button img {
    max-width: 20px;
}
}@media (max-width: 380px) {
    .item--button {
    padding: 34px 29px;
    padding-bottom: 69px;
}
.item--button h1 {
    font-size: 30px;
}
.item--button button {
    width: 100px;
    height: 100px;
}
.item--button button img {
    max-width: 20px;
}
.item--button .btn {
    font-size: 24px;
}
}.item--input .input-box {
    max-width: 287px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 0 20px;
}
.item--input .input-box input {
    max-width: 227px;
    width: 100%;
    border: none;
    font-size: 25px;
    padding: 0 10px;
    outline: none;
    height: 65px;
    background: #ffffff;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.item--input .input-box p {
    position: absolute;
    bottom: 0;
    left: 92%;
    text-align: left;
    max-width: 50px;
    width: 100%;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
}
@media (max-width: 480px) {
    .item--input {
    padding: 34px 39px;
    padding-bottom: 85px;
}
.item--input .input-box {
    padding: 0 30px;
}
.item--input .input-box input {
    max-width: 200px;
}
}@media (max-width: 380px) {
    .item--input {
    padding: 34px 29px;
    padding-bottom: 69px;
}
.item--input .input-box {
    padding: 0 20px;
}
.item--input .input-box p {
    font-size: 18px;
}
.item--input .btn {
    font-size: 24px;
}
}.item--input_radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 480px) {
    .item--input_radio {
    padding: 34px 39px;
    padding-bottom: 85px;
}
.item--input_radio .input-box {
    padding: 0 30px;
}
.item--input_radio .input-box input {
    max-width: 200px;
}
}@media (max-width: 380px) {
    .item--input_radio {
    padding: 34px 17px;
    padding-bottom: 69px;
}
.item--input_radio .input-box {
    padding: 0 20px;
}
.item--input_radio .input-box p {
    font-size: 18px;
}
.item--input_radio .btn {
    font-size: 24px;
}
}.item--input_radio .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item--input_radio .wrapper p {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    max-width: 430px;
    width: 100%;
    min-height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 18px;
}
.item--input_radio .wrapper p input {
    min-width: 13px;
    margin-right: 29px;
}
@media (max-width: 1090px) {
    .item--input_radio .wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
}@media (max-width: 700px) {
    .item--input_radio .wrapper p {
    font-size: 16px;
}
.item--input_radio .wrapper p input {
    margin-right: 20px;
}
}@media (max-width: 380px) {
    .item--input_radio .wrapper p {
    font-size: 13px;
}
}.item--form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.item--form .prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 730px;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 10px;
}
.item--form .prod img {
    max-width: 157px;
    width: 100%}
.item--form .prod__text {
    background: #627c8d;
    border-radius: 20px 20px 20px 0px;
    max-width: 539px;
    margin: 0;
    color: #fff;
    margin-left: 38px;
    padding: 30px 11px;
    padding-left: 32px;
}
.item--form .price__discount {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 19px;
}
.item--form .price__box {
    max-width: 227px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.item--form .price__box b {
    color: #ef6d1b;
    font-weight: 900;
    font-size: 64px;
}
.item--form .price__box s {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    color: #9e9e9e;
}
@media (max-width: 400px) {
    .item--form .price b {
    font-style: 50px;
}
.item--form .price s {
    font-size: 28px;
}
}.item--form form {
    max-width: 347px;
    width: 100%;
    margin-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.item--form form input, .item--form form button {
    max-width: 347.26px;
    width: 100%;
    height: 62.01px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.item--form form input {
    background: #f2f2f2;
    opacity: 0.9;
    border: 1px solid #a7a7a7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    padding-left: 36px;
    margin-bottom: 22px;
}
.item--form form input::-webkit-input-placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
.item--form form input:-ms-input-placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
.item--form form input::-ms-input-placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
.item--form form input::placeholder {
    color: #a7a7a7;
    font-size: 17px;
}
@media (max-width: 480px) {
    .item--form form input: :-webkit-input-placeholder {
    font-size: 13px;
}
.item--form form input:-ms-input-placeholder {
    font-size: 13px;
}
.item--form form input::-ms-input-placeholder {
    font-size: 13px;
}
.item--form form input::placeholder {
    font-size: 13px;
}
}@media (max-width: 480px) {
    .item--form form input {
    padding-left: 20px;
}
}.item--form form button {
    background: #ef6d1b;
    border: none;
    font-size: 18px;
    color: #fff;
}
@media (max-width: 700px) {
    .item--form {
    padding: 34px 39px;
    padding-bottom: 85px;
}
.item--form .prod {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.item--form .prod__text {
    background-color: transparent;
    width: 100%;
    padding: 23px 0;
    margin: 0;
    color: #000;
}
}@media (max-width: 380px) {
    .item--form {
    
}
.item--form p {
    font-size: 15px;
}
}

.wrap-head{
    background-color:#7a7a7a;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    min-height: 138px;
    padding: 0 65px;
    
}
.wrap-head h1{
    text-align: left;
    margin-left: 25px;
}
.wrap-head2{
    display: flex;
    align-items:center;
    margin-top: 27px;
    padding: 0 65px;
    position: relative;
    z-index: 2;
}
.wrap-head2.wrap-head2__img{
    max-width: 119px;
    max-height: 110px;
    width: 100%;
}
.wrap-head2 span{
    font-size: 29px;
    line-height: 33px;
    font-weight: 700;
    color:#c93d41;
}
.wrap-head2 div{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.wrap-head2 p{
    font-size: 33px;
    line-height: 33px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0;
}
.wrap-text{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0 5px;
    flex-direction: column;
    align-items: center;
    margin-top: -15%;

}
.wrap-text p{
    font-size: 37px;
    line-height: 42px;
    font-weight: 500;
    color:#FFFFFF;
    max-width: 780px;
    width: 100%;
    letter-spacing: -0.05em;
    margin-bottom: 0;
    margin-top: -33%;
    z-index: 2;
    
    
}
.wrap-text .wrap-text__img{
    max-height: 900px;
    max-width: 675px;
    width: 100%;
    
}
.item__text{
    color:#b72c24;
    font-size: 49px;
    line-height: 55px;
    font-weight: 700;
    max-width: 800px;
    margin: 40px auto 0;
}
.item-img3{
    max-width: 880px;
    width: 100%;
    height: 400px;
    background:url("../../img/3.png") no-repeat;
    background-position-y: center;
    background-position-x: center;
    display: block;
}
@media (max-width: 780px) {
    .btn.active{
        max-width: 445px;
        padding: 0 10px;
        margin-right: 0;
    }
    .item--main .btn {
        font-size: 37px;
        line-height: 37px;
    }
    .wrap-head2{
        padding: 0 10px;
    }
    .wrap-text{
        padding: 0 10px;
    }
    .wrap-head__img{
        max-width: 245px;
    }

}

@media (max-width: 577px) {
    .wrap-text p {
        font-size: 22px;
        line-height: 30px;
    }
    .wrap-head2 p {
        font-size: 22px;
        line-height: 30px;
    }
    .btn.active{
        max-width: 445px;
        padding: 0 10px;
        margin-right: 0;
    }
    .item--main .btn {
        font-size: 37px;
        line-height: 37px;
    }
    .wrap-head2{
        padding: 0 10px;
    }
    .wrap-text{
        padding: 0 10px;
    }
    .wrap-head h1{
        font-size: 28px;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }
    .wrap-head {
        flex-direction: column;
        align-items:center;
        padding: 0;
    }

}
@media (max-width: 480px) {
    .wrap-text p {
        font-size: 16px;
        line-height: 22px;
    }
    .wrap-head2 p {
        font-size: 16px;
        line-height: 22px;
    }
    .btn.active{
        max-width: 445px;
        padding: 0 10px;
        margin-right: 0;
        
    }
    .item--main .btn {
        font-size: 37px;
        line-height: 37px;
    }
    .wrap-head2 span {
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
    }
    .item__text {
        font-size: 30px;
        line-height: 40px;
    }

    
    

}